html{
    scroll-behavior: smooth;
    height: 100%;
  }
  
  body {
    padding: 1em;
    background-color:#ffffa4;
    font-size: 15pt;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    margin: 20px 32px 32px 32px;
  }

#content {
    position: relative;
    }

#content img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 65px;
    width: 65px;

}

h1 {
    font-weight: 600;
    font-style: normal;
    line-height: 2em;
    letter-spacing: 0em;
    padding-top: 70px;
    text-rendering: optimizeLegibility;
    margin-top: 1em ;
    margin-bottom: 1em ;
  }
 
#introtext {
    padding-top: 20px;
}

.intro {
    font-weight: 700;
    font-style: normal;
    line-height: 2em;
    padding-top: 5px;
    text-rendering: optimizeLegibility;
    margin-bottom: 1em;
}

h2 {
    font-weight: 600;
    font-size: 11pt;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

}

p {
    font-family: 'Inter', sans-serif;
    font-size: 11.5pt;
    font-weight: 300;
    line-height: 1.5em;
    text-rendering: optimizeLegibility;
    letter-spacing: 0em;
    margin-bottom: 1em;
}

.email{
    font-size: 10pt;
    font-weight: 400;
    line-height: 2em;
    text-rendering: optimizeLegibility;
    letter-spacing: 0em;
    margin-top: 3em;
    margin-bottom: 1em;
    font-family: 'Poppins', sans-serif;
    
    
}
.pink{
    color: #d90f74;
}

.workshops li{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 10pt;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    margin-left: 2em;
}

.logo{
	margin-top: 0%;
	margin-left: 0%;
	margin-bottom: 25px;
	padding:2px 2px 2px 2px;
	clear: left;
	line-height: 8px;
	font-weight: 600;
	max-width: 100px;
    animation: float 6s ease-in-out infinite;
}
/*.logo{
    max-width: 15%;
    float: left;
    margin-top: -20px;
}
*/

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px #ffffa4;
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px #ffffa4;
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px #ffffa4;
		transform: translatey(0px);
	}

}


.button{
    margin-top: 5em;
    margin-bottom: 3em;
    font-size: 13pt;
    font-weight: 600;
    color:#d90f74;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.button:hover{
    color: coral;
    text-decoration: underline double #398AD7;
    text-transform: uppercase;
    
}

.skip { font-size: 10pt;

}

.re{font-weight: 400;
    line-height: 1.4;
    font-size: 11pt;
    margin-top: 1.5em ;
    margin-bottom: 1.5em;
    color: black;
    text-decoration: none;
}

.re:hover{
    color: coral;
    text-decoration: underline double #398AD7;
    
}

.CV{
    border: 1.5px solid #053bff;
    font-weight: 600;
    text-decoration: none;
    color: #292929;
    padding: 7px 12px 7px 12px;
    display: inline-block;
    border-radius: 6px;  
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    align-items: center;
    justify-content: center; 
    margin-left: 5.4em ;
}
/* margin-left: 122px; */
      
.CV:hover{
    background: #FFDE03; 
    text-decoration: underline #053bff;
    color: #0F0F0E; 
      }

nav ul{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    line-height: 1.1;
    
}

.writings{
    font-size: 11pt;
    line-height: 1.6;
    margin-left: 2em;

}

.office-hours{
    font-size: 11pt;
    line-height: 1.6;
    margin-left: 2em;
    color: #053bff;
}

nav a{
    font-size: 13pt;
    font-weight: 600;
    color:#d90f74;
    text-decoration: none;
}

nav a:hover{
    color: coral;
    
}

nav .current{
    text-decoration: underline double #398AD7;
    text-transform: uppercase;   
}



.footer{
    display: block;
    margin-top: 100px;
    
}

.footer > p{
        font-size: 10pt ;
        font-weight: 400;
        text-rendering: optimizeLegibility;
}


img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.gridcontainer{
  display: grid;
  grid-gap: 8px;
  grid-template-columns: auto;
  grid-template-rows: auto (repeat(9));
  margin: 25px;  
  
}

.grid-item{
    position:relative;
}

.grid-item > img{ 
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;

}

.grid-item .overlay {
    background:#194bff;
    position: absolute;
    left: 0;
    top: 15px;
    bottom: -15.40px;
    right: 0;
    opacity: 0;
    width: 100%;
    padding:0;
    border-radius:10px
  }
  
.grid-item:hover .overlay {
    opacity: 0.6;
  }


.overlay-details {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 55%;
    left: 50%;
    opacity: 0;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  } 

.grid-item:hover .overlay-details{
    opacity: 1;
  }

  .overlay-details h2{
    font-size: 13pt;
    color: #e7cbd9;
    padding-right: 30px;
    padding-left: 30px;
    line-height: normal;
    
  }

  .work-link{
    text-decoration: none;
    color: #e7cbd9;
  }

  .work-link:hover{
    text-transform: uppercase;
  }
/*.grid-item > img:hover{ 
    opacity: 0.5;

}

.grid-item > img:focus{ 
    opacity: 0.5;

} */ 

/* For mobile phones: */
@media screen and (min-width: 850px){

    header{
		flex-direction: column;
		
    }

    

}

/* For Tablets: */
@media (min-width: 768px)and (max-width: 949px){

    .index{
        margin: 80px 64px 48px 64px;

    }

    .logo{
        margin-left: 5%;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    nav a {
    padding-left: 15px;
    padding-right: 15px;
     }

    .container > img {
        width: 40%;
        height: auto;
    }
 
    .gridcontainer {
        grid-template-columns: auto auto auto;
        grid-template-rows: 200px 200px 200px;
        row-gap: 10px;
        column-gap: 5px;
        } 

    .grid-item > img{ 
        width: 100%;
        height: 100%;
        object-fit: cover;
        }

    .grid-item{
    margin-left: 10px;
    grid-column: 1 span 1;
}

.textcontainer{
    padding: 40px 64px 48px 64px;

}
  
.overlay-details h2{
    font-size: 10.5pt;
    color: #e7cbd9;
  }

  .CV{
    margin-left: 19em;  

}
/* margin-left: 260px; */
}

/* For Labtop: */
@media (min-width: 950px){

    .index{ 
        margin: 80px 64px 48px 64px; 
    }

    .logo{
        margin-left: 6%;
    }

    #content img {
        height: 80px;
        width: 80px;
    
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    nav a {
    padding-left: 15px;
    padding-right: 15px;
    }

    .container {

    padding: 40px 64px 48px 64px;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    }
      
    .container > img {
      margin: 20px 30px 0 0;
      width: 275px;
      object-fit: contain;
      align-self: flex-start;
      }

    .container > h1 {
        flex: 1 1 auto;
    }

    .gridcontainer {
        grid-template-columns: auto auto auto;
        grid-template-rows: 200px 200px 200px;
        row-gap: 10px;
        column-gap: 5px;
        } 
        
    .grid-item > img{ 
        width: 100%;
        height: 100%;
        object-fit: cover;
        }

    .grid-item{
    margin-left: 10px;
    grid-column: 1 span 1;}


    .textcontainer{
        padding: 40px 64px 48px 64px;

    }

    .overlay-details h2{
        font-size: 12pt;
        color: #e7cbd9;
      }

    .CV{
        margin: 0 0 0 0px;
      } 

}

.skip a{
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position:absolute;
    top: -50px;
}

.skip a:focus{
    top:10px;
    border: dashed 2px black;
}

/* Flip card container */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* hover flip effect*/
  .flip-card:hover .flip-card-inner,
  .flip-card:focus-within .flip-card-inner,
  .flip-card:active .flip-card-inner,
  .flip-card:focus .flip-card-inner {
     transform: rotateY(180deg);
  }
    
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  
  /* Back side */
  .flip-card-back {
    font-family: 'Poppins', sans-serif;
    background-color:#053bff;
    color: #e7cbd9;
    top: 40px;
    transform: rotateY(180deg);
  }

.parallax { 
	background-attachment:fixed;   
    background-position: center; 
    background-repeat: repeat; 
    background-size: cover;       
    color: white;
    height: 900px;                
    margin-bottom: 20px;
    margin-left: 2em ;
    background-image: url("../images/foto11.jpg");
}


  @media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; 
    }

    .logo{
        animation: none;
    }

  .flip-card:hover .flip-card-inner,
  .flip-card:focus-within .flip-card-inner,
  .flip-card:active .flip-card-inner,
  .flip-card:focus .flip-card-inner {
     transform: none;
  }

  .parallax{
    background-attachment: initial;
  
    }
}
